<% include ./partials/header %>

<div class="jumbotron bg-secondary text-white">
    <h1 class="display-4">Welcome to Shannanigans!</h1>
    <p class="lead">I have finally provided a place for you to see and purchase my wonderful calligraphy creations! Although the product is limited, I am looking to grow my inventory
        provide you with as much creative items as I possibly can. Enjoy what you find and I look forward to bringing you joy and happiness.
    </p>
    <hr class="my-4">
    <ul style="font-size: 12px;"><u>I currently sale only two types of products</u>
        <li>Fonts - These are fonts I have created and will allow you to download and use electronically.</li>
        <li>Prints - These are actual items I have taken the time to create that you can purchase to use. (I.E. flyers, canvas writings, etc.)</li>
    </ul>
</div>

<div class="row text-white">

<div class="col-lg-1"></div>   
<div class="col-lg-10">
    <div class="card mb-3 bg-secondary">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/images/pic.jpg" class="card-img" style="height: 200px;">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Fonts</h5>
                    <p class="card-text">With all my fonts I have taken the time to perfect each letter and provide a very unique take on fonts in general.</p>
                    <a class="btn btn-primary btn-lg float-right mb-3" href="/products" role="button">View Products</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-1"></div>   

<div class="col-lg-1"></div>   
<div class="col-lg-10">
    <div class="card mb-3 bg-secondary">
        <div class="row no-gutters">      
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Prints</h5>
                    <p class="card-text">All my prints are made to order and come in a variety of ways. If you wish to have a custom made item please reach out and let us know.</p>
                    <a class="btn btn-primary btn-lg" href="/products" role="button">View Products</a>
                </div>
            </div>
            <div class="col-md-4">
                <img src="/images/test.jpg" class="card-img" style="height: 200px;">
            </div>
        </div>
    </div>
</div>
<div class="col-lg-1"></div>   

</div>

<% include ./partials/footer %>